.frame {
	width: 100%;
	height: 100%;
	background-color: #e5e5e5;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.main_frame {
	position: relative;
	width: 1440px;
	height: 1312px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 2px;
	background: var(--Background, #f0f0f6);
}
.main_frame .left_frame {
	position: relative;
	width: 305px;
	height: 1315px;
	background-color: white;
	display: flex;
	flex-direction: column;
}

.main_frame .mid_frame {
	position: relative;
	width: 970px;
	height: 1259px;

	margin-left: 30px;
	margin-right: 27px;
	display: flex;
	flex-direction: column;
}

.main_frame .right_frame {
	position: relative;
	width: 108px;
	height: 1315px;
	align-items: center;
	
	display: flex;
	flex-direction: column;
    background: var(--White-font, #FAFAFA);
box-shadow: 4px 0 10px 0 rgba(47, 122, 249, 0.10);
}



.right_1{
    width: 25px;
height: 25px;
margin: 74px 41px 174px 41px;
}

.right_2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.union-wrapper {
  position: relative;
width: 65px;
height: 24px;
}

.union-wrapper img {
  width: 100%;
  height: 100%;
}

.union-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--White, #FFF);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.right_icon {
     margin-bottom: 54px;
	position: relative;
	width: 40px;
    height: 40px;
	border-radius: 50%;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

	background: #ffb400;
}
.right_icon_gray {
     margin-bottom: 54px;
	position: relative;
	width: 40px;
    height: 40px;
	border-radius: 50%;
   filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

	background: #F0F0F6;
	
}
.right_icon_1 {
	position: relative;
	display: flex;
	top: 30%;
	left: 27%;
	/* align-items: center; */
}

.main_frame .left_1 {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 228px;
	height: 253px;
	margin-top: 50px;
	margin-left: 37px;
}
.marginer {
	/* background: #F0F0F6; */
	position: relative;
	width: 220px;
	height: 1.5px;
	margin-left: 40px;
	margin-bottom: 25px;
	margin-top: 39px;
	background: #f0f0f6;
}

.main_frame .left_2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 221px;
	height: 126px;
	margin-left: 37px;
}

.main_frame .about_placing {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: var(--Black, #2b2b2b);
	font-kerning: none;
	font-feature-settings: "calt" off;

	/* Paragraph Progress - 15 */
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 160% */
	text-transform: capitalize;
}
.left_2_1 {
	height: 24px;
	background: var(--Yellow, #ffb400);
	padding-left: 5px;
	padding-right: 5px;
}

.main_frame .left_frame .left_3 {
	width: 220px;
	height: 153px;
	margin-left: 37px;
}

.title {
	color: var(--Black, #2b2b2b);

	/* H4 - 18px */
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 123.6%; /* 22.248px */
	text-transform: capitalize;
	margin-bottom: 15px;
}
.title_elements {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: var(--Paragraph-Font, #767676);
	font-kerning: none;
	font-feature-settings: "calt" off;

	/* Paragraph Progress - 15 */
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 160% */
	text-transform: capitalize;
}

.main_frame .left_frame .left_4 {
	width: 220px;
	height: 242px;
	margin-left: 37px;
}

.main_frame .left_frame .left_5 {
	width: 186px;
	height: 148px;
	margin-left: 37px;
}

.extra_skills {
	display: flex;

	color: var(--Paragraph-Font, #767676);
	font-kerning: none;
	font-feature-settings: "calt" off;

	/* Paragraph Progress - 15 */
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 160% */
	text-transform: capitalize;
}

.left_1_1 {
	display: flex;
	flex-direction: column;
	width: 156.164px;
	height: 135.053px;
	margin-bottom: 29.5px;

	border-radius: 156.164px;
}

.left_1_2 {
	display: flex;
	width: 64px;
	height: 20.846px;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: var(--Black, #2b2b2b);

	/* H4 - 18px */
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 123.6%; /* 22.248px */
	text-transform: capitalize;
}

.left_1_3 {
	display: flex;
	width: 150px;
	height: 24.31px;
	justify-content: center;
	align-items: center;
	color: var(--Paragraph-Font, #767676);
	font-kerning: none;
	font-feature-settings: "calt" off;

	/* Paragraph Progress - 15 */
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 160% */
	text-transform: capitalize;
}
.left_icons {
	width: 238px;
	height: 19px;
	margin-top: 12px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}
.link_href {
	text-decoration: none;
	color: black;
}
.icon {
	position: relative;
	width: 24.986px;
	height: 21.609px;

	border-radius: 50%;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

	background: #ffb400;
}

.icon_1 {
	position: relative;
	display: flex;
	top: 23%;
	left: 23%;
	/* align-items: center; */
}

.mid_up {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 971px;
	height: 467.328px;

	background-color: white;
	margin-bottom: 139px;
}
.mid_up_title {
	width: 499.514px;
	height: 112.744px;

	color: var(--Black, #2b2b2b);
	font-family: Inter;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 123.6%; /* 59.328px */
	margin: 0 27px 17px 56px;
}

.mid_up_text {
	width: 424.437px;
	height: 85.612px;

	color: var(--Paragraph-Font, #767676);
	font-kerning: none;
	font-feature-settings: "calt" off;

	/* H6 - 16px */
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	text-transform: capitalize;
	margin: 0 0 22.78px 61px;
}
.mid_butt {
	display: inline-flex;
	padding: 16px 32px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 5px;
	background: #ffb400;
	margin: 0 0 22.78px 61px;
}
.mid_up_2 {
	width: 326.055px;
	height: 446.633px;
	margin: 16px 61.5px 8.7px 0;
}
.icon_abs {
	position: absolute;

	width: 100%;
	height: 100%;
	pointer-events: none; /* optional */
}
.icon_abs img {
	position: absolute;
}

.mid_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 970px;
	height: 653px;

}
.mid_bot_title {
	color: var(--Black, #2b2b2b);
      display: flex;
justify-content: center;
align-items: center;
	/* H2 - 32px */
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 123.6%; /* 39.552px */
	text-transform: capitalize;
}
.mid_bot_text {
	width: 438px;
	height: 68px;

	color: var(--Paragraph-Font, #767676);
	text-align: center;
	font-kerning: none;
	font-feature-settings: "calt" off;

	/* P-15px paragraph */
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 160% */
	text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 40px;
}
.mid_bot_2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 225px;
  width: 971px;
 
  margin-bottom: 20px;
}
.mid_bot_3
{
    height: 225px;
  width: 971px;
  background-color: #767676;
}
.mid_bot_con
{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;

    width: 310px;
    height: 225px;  
   background-color: white;
 
}
.mid_bot_img
{
width: 68px;
height: 68px;
flex-shrink: 0;

margin-bottom: 25px;
}
.adds{
    margin: 25px;
    color: var(--Paragraph-Font, #767676);
text-align: center;
font-kerning: none;
font-feature-settings: 'calt' off;

/* P-15px paragraph */
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 160% */
text-transform: capitalize;
}
.adds_2{
    color: var(--Yellow, #FFB400);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}